/* || Fonts */
@font-face {
    font-family: "Verdana";
    src: url("../fonts/Verdana.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Verdana";
    src: url("../fonts/Verdana-bold.ttf");
    font-weight: 700;
}

/* || Variables */
:root {
    --primary-color: #0044A7;
    --accent-color: #F36A22;
}

/* || General */
*,
*::before,
*::after,
html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Verdana', sans-serif;
    font-size: 10px;
}

img {
    max-width: 100%;
}


/* || Utilities */
.bg-primary {
    background-color: var(--primary-color);
}

.bg-accent {
    background-color: var(--accent-color);
}

.color-primary {
    color: var(--primary-color);
}

.color-accent {
    color: var(--accent-color);
}

.font-bold {
    font-weight: 700;
}

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}


/* || Custom Styles */
.doc-wrapper {
    position: relative;
    max-width: 793px !important;
    margin: 0 auto;

    overflow-x: hidden;
}

/* || Pages' shared styles */
.page {
    position: relative;
    height: 840px;
}

.page__header {
    width: 100%;
    height: 40px;
}

.page__header>div:nth-child(1) {
    height: 34px;
}

.page__header>div:nth-child(2) {
    height: 6px;
}

.page__footer {
    position: absolute;
    bottom: 0;

    width: 100%;

    height: 40px;
}


.page__footer>div:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    width: 100%;

    height: 6px;
}

.page__footer>div:nth-child(2) {
    position: absolute;
    top: 6px;
    left: 0;
    right: 0;

    width: 100%;

    height: 34px;
}

.page__footer>div:nth-child(2)>p {
    color: white;
    font-size: 12px;
}


/* | Page: cover */
.page__property-info {
    position: absolute;
    bottom: 40px;

    width: 100%;

    width: 100%;
    height: 294px;
}

.page__property-info__background {
    position: absolute;
    top: 0;
    left: 0;

    z-index: -999;

    width: 100%;
}

.page__property-info__background>div:nth-child(1) {
    height: 6px;
}

.page__property-info__background>div:nth-child(2) {
    height: 288px;
}

.cover__company-and-sponsors {
    margin-top: 36px;
    margin-left: 72px;
    margin-right: 72px;
}

.cover__company-name {
    font-size: 30px;
}

.cover__sponsors {
    width: 92.88px;
}

.page__property-info__list {
    margin-top: 30px;
    margin-left: 72px;
    margin-right: 72px;

    list-style: none;
    flex-direction: column;
    gap: 10px;
}

.page__property-info__list li {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.page__property-info__list p {
    font-size: 10px;

    color: white;
}


/* First page */
.first-p__logo {
    margin-top: 40px;
    margin-left: auto;
    margin-right: 72px;
    width: 160px;
    width: fit-content;
}

.first-p__logo>p {
    font-size: 24px;
}

.first-p__toc {
    margin: 0px 72px;
    margin-top: 30px;
}

.toc__top-bar {
    padding: 4px 8px;
    border: 1px solid black;
}

.toc__top-bar>p {
    color: white;
    font-size: 12px;
}

.toc__root-list {
    margin-top: 24px;
    padding-left: 14px;
    list-style-type: none;

    counter-reset: root-level-item;
}

.toc__root-list>li>span {
    font-size: 8px;
}

.toc__root-list>li::before {
    counter-increment: root-level-item;
    content: counter(root-level-item) ".";
    font-weight: bold;
    font-size: 8px;
    margin-right: 6px;
}

.toc__second-level-list {
    counter-reset: second-level-item;
    margin-top: 2px;
    padding-left: 8px;
    list-style-type: none;
}

.toc__second-level-list>li {
    margin-bottom: 2px;
}

.toc__second-level-list>li>span {
    font-size: 8px;
}


.toc__second-level-list>li::before {
    counter-increment: second-level-item;
    content: counter(root-level-item) "." counter(second-level-item);
    margin-right: 22px;

    display: inline-block;
    width: 24px;
}

.toc__root-list span:last-child {
    font-size: 8px;
}